<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Sandy Sovereign/src/sandySovereign/SandSovereign.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sandySovereign.SandSovereign"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Sandy Sovereign"/>
</launchConfiguration>
